.MuiDataGrid-cell--textLeft {
    text-align: start !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    text-align: center !important;
    font-size: x-large;
}

.css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar, .MuiToolbar-root {
    direction: ltr !important;
}

.MuiDataGrid-main {
    direction: rtl !important;
}