@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer utilities {
  .print-hide {
    @apply hidden print: block;
  }
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body, html {
  direction: rtl;
}

.dark {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-color: #1e2939;
}

.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}

#cr-level option {
  background-color: #2d1c1c !important;
  color: aliceblue;
  cursor: pointer;
}


.react-date-picker__wrapper {
  border: none !important;
}